<%- include('../partials/header') %>

<section id="show-page">
    <div>Name: </div>
    <div><%= cocktail.name %></div>
    <h4>Alcohols:</h4>
    <% alcohols.forEach(function(a) { %>
    <tr>
        <td><%= a.name %></td>
        <input type="submit" value="Add Alcohol" class='submitBtn'>
    <% }) %>
</section>
<br><br><h2>Ingredients</h2>
<form id="add-ingredients-form" method="POST"
  action="/cocktails/<%= cocktail._id %>/ingredients">
  <label>Mixers:</label>
  <input name="mixers" placeholder="Enter Mixers...">
  <label>Garnishes</label>
  <input name="garnishes" placeholder="Enter any garnishes..">

<br><br><h2>Instructions</h2>
<form id="add-instructions-form" method="POST"
  action="/cocktails/<%= cocktail._id %>/instructions">
  <label>Glass Type:
    <select name="glassType">
        <option value="rocks">Rocks Glass</option>
        <option value="highball">Highball Glass</option>
        <option value="martini">Martini Glass</option>
        <option value="margarita">Margartia Glass</option>
        <option value="hurricane">Hurricane Glass</option>
        <option value="shot">Shot Glass</option>
      </select>
  </label>
  <label>Prep Time:</label>
  <input name="prepTime" placeholder="Enter prep time...">
  <label>Difficulty:</label>
  <input name="difficulty" placeholder="Enter difficulty(1-5)...">
  <label>Steps:</label>
  <input name="steps" placeholder="Enter steps...">
  <label>Ice Type:
    <select name="iceCube">
        <option value="cubed">Cubed Ice</option>
        <option value="large sphere">Large Ice Sphere</option>
        <option value="crushed">Crushed Ice</option>
        <option value="large cube">Large Ice Cube</option>
      </select>
  </label>
  <input type="submit" value="Add Ingredients" class='submitBtn'>
</form>


<%- include('../partials/footer') %>