<%- include('../partials/header') %>

<section id="show-page">
    <% if (user.name === cocktail.mixologist.name) {%>
    <form action="/cocktails/<%= cocktail._id %>?_method=PUT" method="POST">
        <label>Name:</label>
        <input type="text" name='name' value="<%= cocktail.name%>"><br>
        <label>Ingredients:</label>
        <input type="text" name='ingredients' value="<%= cocktail.ingredients%>"><br>
        <label>Garnishes:</label>
        <input type="text" name='garnishes' value="<%= cocktail.garnishes%>"><br>
        <label>Glass Type:</label>
        <input type="text" name='glassType' value="<%= cocktail.glassType%>"><br>
        <label>Prep Time:</label>
        <input type="text" name='prepTime' value="<%= cocktail.prepTime%>"><br>
        <label>Difficulty:</label>
        <input type="text" name='difficulty' value="<%= cocktail.difficulty%>"><br>
        <label>Steps:</label>
        <input type="text" name='steps' value="<%= cocktail.steps%>"><br>
        <label>Ice Cube:</label>
        <input type="text" name='iceCube' value="<%= cocktail.iceCube%>"><br>
        <button type='submit'>Update</button>
        
    </form>
    <label>Alcohols: </label>
        <%- cocktail.alcohols.map((a) => 
            `${a.name}`
          ) %>
        <form id="add-alcohol-to-cocktail" action="/cocktails/<%= cocktail._id %>/alcohols" method="POST">
            <select name="alcohols">
                <%- alcohols.map(a => 
                `<option value="${a._id}">${a.name}</option>`
              ) %>
            </select>
            <button type="submit">Add Alcohol</button>
        </form><br>
    <form action="/cocktails/<%= cocktail._id %>?_method=DELETE" class='delete-form' method="POST">
        <button type='submit'>X</button>
    </form>
    <% } else {%>
    <h2 class="font5"><%= cocktail.name %></h2>
    <hr>
    <div class="font6">Ingredients: <%= cocktail.ingredients %></div>
    <% if (cocktail.garnishes === ''){%>
    <div class="font6">Garnishes: <%= cocktail.garnishes %></div>
    <% } %>
    <div class="font6">Glass Type: <%= cocktail.glassType %></div>
    <% if (cocktail.prepTime === ''){%>
    <div class="font6">Prep Time: <%= cocktail.prepTime %></div>
    <% } %>
    <% if (cocktail.difficulty === ''){%>
    <div class="font6">Difficulty: <%= cocktail.difficulty %></div>
    <% } %>
    <div class="font6">Steps: <%= cocktail.steps %></div>
    <% if (cocktail.iceCube === ''){%>
    <div class="font6">Ice Cube Type: <%= cocktail.iceCube %></div>
    <% } %>
    <% if (!cocktail.alcohols.length){ %> 
        <div class="font6">Alcohols: No alcohols added yet, check ingredients</div>
    <% } else { %> 
        <!-- Add Conditional Rendering if more than one alcohol -->
        <h6 class="font6">Alcohols being added in the next version!</h3>
    <% } %> 
    <div class="font6">Mixologist:<%= cocktail.mixologist.name %></div>
    <td>
      
    </td>
<% } %> 
</section>


<%- include('../partials/footer') %>

<!-- <div class="font6">Alcohols:  cocktail.alcohols[0].name %>,  cocktail.alcohols[1].name %></div> -->