<%- include('../partials/header') %>

<section id="show-page">
    <div>Name: </div>
    <div><%= cocktail.name %></div>
    <div>Mixers: </div>
    <div><%= cocktail.mixers %></div>
    <div>Garnishes: </div>
    <div><%= cocktail.garnishes %></div>
    <div>Glass Type: </div>
    <div><%= cocktail.glassType %></div>
    <div>Prep Time: </div>
    <div><%= cocktail.prepTime %></div>
    <div>Difficulty: </div>
    <div><%= cocktail.difficulty %></div>
    <div>Steps: </div>
    <div><%= cocktail.steps %></div>
    <div>Ice Cube Type: </div>
    <div><%= cocktail.iceCube %></div>
    <div>Mixologist:</div>
    <div><%= cocktail.mixologist%></div>
</section>



<%- include('../partials/footer') %>