<%- include('../partials/header') %>

<section id="show-page">
    <div>Name: <%= cocktail.name %></div>
    <div>Ingredients: <%= cocktail.ingredients %></div>
    <% if (cocktail.garnishes === ''){%> 
    <div>Garnishes: <%= cocktail.garnishes %></div>
    <% } %>
    <div>Glass Type: <%= cocktail.glassType %></div>
    <% if (cocktail.prepTime === ''){%>
    <div>Prep Time: <%= cocktail.prepTime %></div>
    <% } %>
    <% if (cocktail.difficulty === ''){%>
    <div>Difficulty: <%= cocktail.difficulty %></div>
    <% } %>
    <div>Steps: <%= cocktail.steps %></div>
    <% if (cocktail.iceCube === ''){%>
    <div>Ice Cube Type: <%= cocktail.iceCube %></div>
    <% } %>
    <div>Mixologist:<%= user.name %></div>
    <div>Alcohols: </div>
      <%- cocktail.alcohols.map((a) => 
        `${a.name}`
      ) %>
    <form id="add-alcohol-to-cocktail" action="/cocktails/<%= cocktail._id %>/alcohols" method="POST">
        <select name="alcohols">
          <%- alcohols.map(a => 
            `<option value="${a._id}">${a.name}</option>`
          ) %>
        </select>
        <button type="submit">Add Alcohol</button>
      </form><br>
</section>


<%- include('../partials/footer') %>