<%- include('../partials/header') %>

<section id="show-page">
    <div>Name: </div>
    <div><%= cocktail.name %></div>
    <h4>Alcohols:</h4>
    <% alcohols.forEach(function(a) { %>
    <tr>
        <td>Brand:<%= a.name %></td>
        <td>Liquor:<%= a.type %></td>
        <input type="submit" value="Add Alcohol" class='submitBtn'>
        <td>
            <form action="/alcohols/<%= a._id%>?_method=DELETE" class='delete-form' method="POST">
                <button type='submit'>X</button>
            </form>
        </td>
    <% }) %>
</section>
<br><br><h2>Ingredients</h2>
<form id="add-ingredients-form" method="POST"
  action="/cocktails/<%= cocktail._id %>/ingredients">
  <label>Mixers:</label>
  <input name="mixers">
  <label>Garnishes</label>
  <input name="garnishes">
  <input type="submit" value="Add Ingredients" class='submitBtn'>
</form>


<%- include('../partials/footer') %>