<%- include('../partials/header') %>

<h3>Message Board</h3>
<hr />
<form action="/messages" method="POST">
  <div class="form-group containerMessage">
    <input
      id="1"
      type="text"
      class="form-control form width"
      aria-describedby="message"
      name="title"
      placeholder="Enter message..."
    />
  </div>
  <button type="submit" class="btn btn-success margin">Create Post</button>
</form>
<hr>
<div class="messagesContainer">
  <% messages.forEach(message => { %>
  <div class="card messages">
    <div class="card-header">
      <%= message.postedBy %>
      <img id="avatarPhoto" width="30" src="<%= message.avatar %>" alt="" />
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= message.title %></h5>
      <h6><%= message.createdAt.toLocaleString()%></h6>
      <a href="/messages/<%= message._id %>" class="btn btn-primary"
        >See Post</a
      >
      
      <% if (user.name === message.postedBy){ %>
      <form
        action="/messages/<%= message._id%>?_method=DELETE"
        class="delete-form"
        method="POST"
      >
        <button type="btn" class="btn btn-danger margin">X</button>
      </form>
      <% } %>
    </div>
  </div>
  <% }) %>
</div>
<%- include('../partials/footer') %>
